.hand {
  background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 230, 230, 0.4) 50%
    ),
    url("../../Images/shampoo.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.custom-search {
  color: rgba(0, 0, 0, 0.9) !important;
}

.custom-search:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
  border: rgba(0, 0, 0, 0.1) !important;
  outline: rgba(0, 0, 0, 0.1) !important;
}
